<div class="d-flex flex-row mb-4 w-75 mx-auto border border-secondary rounded" [style.height]="height + 'px'">
  <img [src]="'data:image/png;base64,' + product.image" class="w-50" [alt]="product.name" [width]="width" [height]="height">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">
      <strong>Price:</strong> ${{ product.price }}
    </p>
    <p class="card-text">
      <strong>Categories:</strong>
    </p>
    <ul class="list-unstyled d-flex flex-wrap gap-2">
      @for (category of product.category; track category) {
        <li>
          <span class="badge bg-primary">{{ category.name }}</span>
        </li>
      }
    </ul>
  </div>
</div>