<div class="container mt-4">
    <h2 class="mb-4">Product Form</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>

            @if(productForm.get('name')!.invalid && (productForm.get('name')!.dirty || productForm.get('name')!.touched)){
            <mat-error>Name is required</mat-error>
            }
        </mat-form-field>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="image" required>
          @if(productForm.get('image')!.invalid && (productForm.get('image')!.dirty || productForm.get('image')!.touched)){
            <mat-error>Image URL is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="mb-3">
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" rows="3" required></textarea>
        @if(productForm.get('description')!.invalid && (productForm.get('description')!.dirty || productForm.get('description')!.touched)){
          <mat-error>Description URL is required</mat-error>
        }
        </mat-form-field>
      </div>

      <div class="mb-3">
        
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price" required type="number" step="0.01">
          <span matPrefix>$&nbsp;</span>
          @if(productForm.get('price')!.invalid && (productForm.get('price')!.dirty || productForm.get('price')!.touched))
          {<mat-error>Price error</mat-error>}
        </mat-form-field>

      </div>
      <div class="mb-3">
      <mat-form-field style="width: 300px;">
        <mat-label>Categories</mat-label>
        <mat-select formControlName="category" multiple style="width: 300px;">
          @for (category of categoryList; track category) {
            <mat-option style="width: 300px;" [value]="category.id">{{category.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      </div>


      <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit</button>
    </form>
  </div>